body, html {
    padding: 0;
    margin: 0;
    min-width: 1024px;
    font-family: Arial, sans-serif;
}

#header-wrapper {
    background-color: #eeede9;
    margin: 10px 0 0 0;
    padding: 5px 0 15px 0;
    position: relative;
}

#header-top {
    background-color: #524e45;
    min-height: 40px;
    margin: 0 0 3px 0;
}

#header-bottom {
    background-color: #615a51;
    min-height: 40px;
}

#header-top-menu {
    width: 650px;
    margin: 0 auto 0 auto;
    line-height: 40px;
    position: relative;
    padding-left: 230px;
}

ul.top-menu {
    margin: 0;
    padding: 0;
}
ul.top-menu > li {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
}
ul.top-menu li a {
    color: #8c897f;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#header-bottom-menu {
    width: 650px;
    margin: 0 auto;
    line-height: 40px;
    padding-left: 280px;
}
ul.bottom-menu {
    margin: 0;
    padding: 0;
}
ul.bottom-menu > li {
    list-style: none;
    margin: 0 15px 0 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
}
ul.bottom-menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#header-logo {
    width: 220px;
    position: absolute;
    top: 0;
    left: 0;
}
#header-logo span {
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: -18px;
    left: -10px;
}
#header-logo img {
    border: 2px solid white;
    box-shadow: 0 0 7px 2px #6d6c6a;
}

.has-submenu {
    padding-right: 20px !important;
    background: url(img/submenu.png) right center no-repeat;
    position: relative;
}

.has-submenu .submenu {
    display: none;
    margin: 0;
    background-color: #615a51;
    position: absolute;
    top: 40px;
    left: -10px;
    width: 100%;
    padding: 10px 5px 5px 5px;
    line-height: 20px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 100;
    box-shadow: 0 3px 8px -3px #6d6c6a;
}
.has-submenu .submenu li {
    list-style-image: none;
    display: block;
    padding: 0 0 0 10px;
    margin: 0 0 10px 0;
}
.submenu-opened .submenu {
    display: block;
}

.userpic-text {
    color: white;
    padding: 0 0 0 5px;
    font-weight: normal;
    position: relative;
    top: -2px;
}

.userpic-sep {
    color: #6d655b;
    position: relative;
    top: -2px;
    margin: 0 3px 0 3px;
}

.userpic-number {
    color: white;
    position: relative;
    top: -2px;
    font-size: 14px;
}

#content-wrapper {
    padding: 10px 20px 15px 20px;
}

#breadcurmbs {

}
#breadcurmbs > ul {
    padding: 0;
    margin: 0;
}
#breadcurmbs > ul li {
    list-style: none;
    display: inline-block;
    color: #615a51;
}
#breadcurmbs > ul li a {
    color: #615a51;
    text-decoration: none;
}

#pagecontent {
    background-color: #eeede9;
    width: 98%;
    padding-bottom: 20px;
}

#pagecontent #page-menu {
    padding: 10px;
}
#pagecontent #page-menu > ul {
    padding: 0;
    margin: 0;
}
#pagecontent #page-menu > ul li {
    list-style: none;
    display: inline-block;
    margin-right: 28px;
}
#pagecontent #page-menu > ul li a {
    text-decoration: none;
    color: #615a51;
}

#right-sidebar {
    width: 220px;
    height: 400px;
    display: table-cell;
    background-color: #eeede9;
}

#wrap-layout {
    width: 100%;
    margin: 25px 0 0 0;
    display: table;
}

.panel-title {
    color: #615a51;
    text-align: center;
    width: 100%;
}

#page-wrapper {
    display: table;
    width: 100%;
}

#page-left-sidebar {
    display: table-cell;
    width: 200px;
}
#page-left-sidebar .scontent {
    background-color: white;
    width: 160px;
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
}

#page-text {
    display: table-cell;
    vertical-align: top;
}
#page-text .pcontent {
    background-color: white;
    margin-right: 10px;
    padding: 10px 10px 10px 15px;
    font-size: 14px;
}

.pcontent h1 {
    font-size: 30px;
    margin: 10px 0 10px 0;
    padding: 0;
}

.sidebar-divider {
    height: 2px;
    width: 100%;
    background-color: black;
    margin: 18px 0 18px 0;
}

.wb-progress-bar {
    width: 98%;
    border: 2px solid black;
    height: 18px;
    margin: 15px 0 0 0;
}

.wb-progress-bar .wb-progress-line {
    background-color: #5bb22d;
    height: 18px;
    border-right: 1px solid black;
}

.userpic-list {
    padding: 0;
    margin: 10px 0 0 0;
}
.userpic-list li {
    list-style: none;
    display: inline-block;
    margin-right: 2px;
}
.social-list {
    padding: 0;
    margin: 10px 0 0 0;
}
.social-list li {
    list-style: none;
    display: inline-block;
    margin: 0;
}
.social-list img {
    width: 28px;
}

.sub-page-stats {
    margin: 0 0 20px 0;
}
.sub-page-stats ul {
    margin: 0;
    padding: 0;
}
.sub-page-stats ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    color: #76767a;
    font-size: 13px;
}
.sub-page-stats ul li img {
    margin-right: 1px;
    position: relative;
    top: 3px;
}

#page-raw-text {
    line-height: 20px;
}

.sb-post-list .sb-post {
    margin: 0 auto 8px auto;
    background-color: white;
    font-size: 11px;
    color: black;
    padding: 5px;
    overflow: hidden;
    width: 195px;
}

.sb-post .sb-post-image {
    float: left;
    width: 80px;
}

.sb-post .sb-post-text {
    margin-left: 90px;
}

.sb-post .sb-post-watch {
    margin: 10px 0 5px 0;
}
.sb-post .sb-post-watch a {
    text-decoration: none;
    color: black;
    text-align: right;
}